/*
Paleta de colores

.color1 {color: #140b17;}
.color2 {color: #572e4b;}
.color3 {color: #1d70c4;}
.color4 {color: #7adce4;}
.color5 {color: #f7efed;}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    /* font-family: 'Mochiy Pop P One', sans-serif; */
}

body {
    background-color: #92ffed;

}

nav {
    position: relative;
    background-color: #d3d3d3;
    padding: 20px 40px;
    color: #00ccff;



}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: #1d70c4;

}

li {
    margin-right: 10px;
    margin-bottom: 10px;

}

a {
    color: #1d70c4;
    text-decoration: none;
}

#nav-logo {
    max-width: 50px;
    height: auto;
}

.nav-button {
    background-color: blue;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
    border-style: whitesmoke;

}

@media (max-width:768px) {
    ul {
        flex-direction: column;
        position: relative;
        top: 100%;
        left: 0;
        /* background-color: rgb(97, 97, 97); */
        width: 100%;

    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-button {
        display: none;
    }
}

/* Estilo para Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;

}

.left-content {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right-content {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.email-form {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

input[type="email"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;

}

button[type="submit"] {
    padding: 10px 50px;
    cursor: pointer;
    background-color: blue;
    color: whitesmoke;
    border-style: whitesmoke;
    border-radius: 10px
}

img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

@media(max-width:768px) {

    .left-content,
    .right-content {
        flex-basis: 100%;
        text-align: center;

    }

    img {
        display: block;
        margin: 0 auto;
    }

    .card-container {
        flex-direction: column;
    }
}

/* Estilo para Card*/
section {
    text-align: center;
    padding: 50px;

}

h2 {
    margin-bottom: 20px;
    /* font-family: 'Mochiy Pop P One', sans-serif; */
}

.card-container {
    display: flex;
    justify-content: space-between;

    /* flex-wrap: wrap; */
}

.card {
    background-color: white;
    padding: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.author-name {
    font-size: 12px;
    font-weight: bold;

}

.publication-date {
    font-size: 10px;
    color: #777;
}

@media(max-width:768px) {
    .card {
        width: 100%;
        margin-bottom: 30px;
    }
}

footer {
    background-color: #4ca;
    padding: 20px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    margin-bottom: 20px;
    flex-basis: calc(20% - 20px);
}

.footer-column a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}